# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.sqlite3
.env
.venv/
venv/
env/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Local Django data and backups
db.sqlite3
db.sqlite3.backup
staycore_data.json
